* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2D3C7;
}
body {
  background-color: #f5e9dc; /* bege claro de fundo */
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 40px;
}

.banner-chocolate {
  background-color: #4e1f1f; 
  border-radius: 35px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: auto;
  height: 55px;
}
.icone img{
  width: 45px;  
  height: auto; 
  margin-left: auto;
  display: block;

}

.texto-banner {
  font-size: 28px;
  color: #fce8d8; 
}

.caixinha1{
  flex: 2;
  background-color: #4e1f1f;
  border-radius: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  max-width: 90%;
  height: 350px;
  margin: 0 auto;
  margin-top: 50px;

}

.caixinha1 h3 {
  color: #fce8d8;
  font-size: 29px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 0px;
}

.sobre p {
  margin-top: 30px;
  text-align: center;
  color: #200f00;
}

